<!-- app.component.html -->
<div class="container">



  <div class="form-group">
    <label>הכנס כתובת </label>
    <input type="text" class="form-control" (change)="address= search.value" (keydown.enter)="$event.preventDefault()"  placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>
{{address}}
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map>
</div>
<button (click)="emitAddress()">ok</button>