// *{
//     text-align: center;
//     height: 100%;
//     margin-top: 5%;
//     direction: rtl;
// }
#ReturnToHomePage {
    color: grey;
    margin: 2vw;
 
}
input {
    border-radius: 18%;
    border-color:#6f1342;
    display: block;
    margin-top: 1%;
    padding: 2%;
    font-size: 120%;
    margin-right: 60%;
    height: 2vh;
    text-align: center;
    margin-left: 34vw;

}
#logo {
    position: absolute;
    opacity: 0.4;
    margin-top: -90vh;
    width: 44%;
    margin-left: 25vw;
}
// #submit{
//     margin-right: 10%;

//  }
// select {
//     display: flex;
//     margin-top: 1%;
//     width: 55%;
//     padding: 2%;
//     font-size: 120%;
// }
// #div1{
//     margin-left: 50%;

// }