<!-- <p>shipping-operations-in-real-time works!</p> -->
<!-- המהל רואה כל משלוחן את המצב שלו בזמן אמת (קישור לוויז) -->
<div id="a">
    <h3>תפעול המשלוחנים בזמן אמת</h3>
    <br>
    <div id="CouriersWay" *ngFor="let i of couriersMap">
        <div class="card" style="width: 18rem;">
            <p>קוד משלוחן: {{i.CourierId}}</p>
            <p>שם משלוחן: {{i.CourierFirstName}} {{i.CourierLastName}}</p>
            <agm-map [latitude]="i.latitude" [longitude]="i.longitude" style="height: 300px" >
           
              <agm-marker *ngFor="let marker of i.LatLng" [latitude]="marker.Lat" [longitude]="marker.Lng"></agm-marker>
            </agm-map>

        </div>
    </div>

</div>