#form{
    height: 200px;
    width: 200px;
}
input {
    border-radius: 18%;
    border-color:#6f1342;
    display: block;
    margin-top: 1%;
    padding: 2%;
    font-size: 120%;
    margin-right: 60%;
    height: 7vh;
    width: 16vw;
    text-align: center;
    margin-left: 34vw;

}