<div class="row">
    <div class="col-75">
        <div class="container">
            <form action="/action_page.php">

                <div class="row">
                    <div class="col-50">
                        <label for="fname"><b>כתובת לאיסוף</b> </label>
                        <!-- <app-gogel-map-search [latitude]="latitude" [longitude]="longitude" [address]="address">
                        </app-gogel-map-search> -->
                        <!-- (longitudec)="doSomething($event)"(addressc)="doSomething($event)" -->
                        <app-gogel-map-search (latitudec)="newShipment.SourcePackageLat=$event" (longitudec)="newShipment.SourcePackageLon=$event" (addressc)="newShipment.collectionAddressPac=$event" ></app-gogel-map-search>
                        <br><br><br>
               lat {{newShipment.SourcePackageLat}}<br>
               lon {{newShipment.SourcePackageLon}} <br>
           addreess {{newShipment.collectionAddressPac}}
                        <label for="inputEmail4"></label>
                        <input type="number" [(ngModel)]="newShipment.cfloorPac" name="cfloor" class="form-control"
                            id="inputEmail4" placeholder="קומת איסוף">
                    </div>
                    <!-- SourcePackageLon: number;
                    SourcePackageLat: number;
                    DestinetionPackageLon: number;
                    DestinationPackageLat: number; -->
                    <div class="col-50">
                        <label for="fname"><b>כתובת יעד</b> </label>
                        <app-gogel-map-search (latitudec)="newShipment.DestinationPackageLat=$event" (longitudec)="newShipment.DestinetionPackageLon=$event" (addressc)="newShipment.destinationPac=$event" ></app-gogel-map-search>
                        <br><br><br>
                       lat {{newShipment.DestinationPackageLat}}<br>
                     lon   {{newShipment.DestinetionPackageLon}} <br>
                    addess {{newShipment.destinationPac}}
                        <!-- <app-gogel-map-search></app-gogel-map-search> -->
                        <label for="inputEmail4"></label>
                        <input type="number" [(ngModel)]="newShipment.dfloorPac" name="floorDestination"
                            class="form-control" id="inputEmail4" placeholder="קומת יעד">

                    </div>

                </div>
                <hr>
                <div class="row">
                    <div class="col-50">

                        <div class="row">
                            <div class="col-50">
                                <input type="text" [(ngModel)]="newShipment.firstNamePac" name="firstNameOfSending"
                                    class="form-control" id="inputEmail4" placeholder="שם פרטי של השולח">
                            </div>
                            <div class="col-50">
                                <input type="text" [(ngModel)]="newShipment.lastNamePac" name="lastNameOfSending"
                                    class="form-control" id="inputEmail4" placeholder="שם משפחה של השולח">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50">
                                <input type="email" name="email" class="form-control" id="inputEmail4"
                                    [(ngModel)]="newShipment.emailPac" placeholder="אמייל">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50">
                                <input type="text" [(ngModel)]="newShipment.invoiceNamePac" name="invoiceName"
                                    class="form-control" id="inputEmail4" placeholder="שם חשבונית מס">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-50">
                                <input type="tel" [(ngModel)]="newShipment.phoneReceivesShippingPac"
                                    name="phoneReceives" class="form-control" id="inputPassword4"
                                    placeholder="מספר טלפון של המקבל">
                            </div>
                            <div class="col-50">
                                <input type="text" [(ngModel)]="newShipment.fullNamePac" name="fullNameOfReceive"
                                    class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"
                                    placeholder=" שם מלאה של המקבל">
                            </div>
                        </div>
                    </div>

                    <div class="col-50">

                        <div class="row">
                            <div class="col-50">
                                <input type="text" [(ngModel)]="newShipment.companyNamePac" name="companyName"
                                    class="form-control" id="inputAddress" placeholder="שם חברה">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50">
                                <input type="text" [(ngModel)]="newShipment.duringSendingPac" name="duringSending"
                                    class="form-control" id="inputAddress2" placeholder=" משך שליחה">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50">
                                <select id="inputState" [(ngModel)]="newShipment.weigthPac" name="weigth"
                                    class="form-control" aria-placeholder="משקל">
                                    <option>עד 50 קילו</option>
                                    <option>עד 200 קילו</option>
                                    <option>מעל 200 קילו</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50">
                                <input type="text" [(ngModel)]="newShipment.descriptionPac" name="description"
                                    class="form-control" id="inputZip" placeholder="תיאור">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50">
                                <textarea class="form-control" [(ngModel)]="newShipment.commendsPac" name="commends"
                                    id="exampleFormControlTextarea1" rows="3" placeholder="הערות"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <input type="submit" value="שמירה ועדכון " class="btn btn-primary" (click)="GetNewShipment()"
                    class="btn">
            </form>
        </div>
    </div>
</div>