a{
    display: inline;
    color: slategrey;
    font-size: 22px;
}
#logo1 {
    height: 15vh;
}
* {
    direction: rtl;
}
#ReturnToHomePage {
    color: grey;
    margin: 2vw;
    direction: rtl;
    display: block;
}