<!-- <p>courier-menu works!</p> -->

<h1>ברוך הבא לאזור האישי שלך!</h1>
<h3>המשלוחים שלי:</h3>
<div class="TBL">
    <table>
        <tr>
            <!-- ? C# איך מקבלים מה  -->
            <th>קוד משלוח: </th>
            <td>כתובת איסוף: </td>
            <td>קומת איסוף: </td>
            <td>יעד: </td>
            <td>קומת יעד: </td>
            <td>שם המקבל: </td>
            <td>שם שולח: </td>
            <td>פלפון שולח: </td>
            <td>שם חברה: </td>
            <td>שם מקבל: </td>
            <td>פלפון מקבל: </td>
            <td>זמן : </td>
            <td>משקל: </td>
            <td>תאור: </td>
            <td>הערות: </td>
            <td>סטטוס: </td>
        </tr>
    </table>
</div>