<h1>הסניפים שלנו</h1>
<p>   
 הסניפים שלנו פזורים ברחבי הארץ כדי לתת לכם שירות מהיר ויעיל קרוב ככל האפשר למיקומכם

בחלק מהסניפים ניתן לבצע איסוף עצמי של משלוחים.

משרד שליחויות -8 סניפים בפריסה ארצית

</p>

<P>צי'טה שלחיות   שליחויות סניף מרכזי - נחל איילון 17 תל אביב - שעות פעילות 09:00 - 17:00</P>
<P>צי'טה שלחיות  שליחויות בתל אביב - סניף תל אביב - יגאל אלון 124 - שעות פעילות 07:00 - 16:00</P>
<P>ציט'ה שלחיות שליחויות בחיפה - סניף חיפה - בעלי המלאכה 12 - שעות פעילות 08:00 - 18:00</P>
<P>צי'טה שלחיות שליחויות סניף הנתיב המהיר - בתוך מתחם קפה ג'ו - שעות פעילות 08:00 - 19:00</P>
<P>צי'טה שלחיות שליחויות בירושלים - סניף ירושלים - עם ועולמו 3 - שעות פעילות 08:00 - 17:00</P>
<P>צי'טה שלחיות זג שליחויות בדרום - סניף באר שבע - הקוצר 12 - שעות פעילות 08:00 - 16:00</P>
<P> צי'טה שלחיות שליחויות באילת - סניף אילת - הספן 9 - שעות פעילות 09:00 -17:00</P>
<P> צי'טה שלחיות שליחויות באילת - סניף קרית גת - חונטוזה 25 - שעות פעילות 08:00 -17:00</P>
<P> צי'טה שלחיות שליחויות באילת - סניף קרית יובל - הנרקיסים 30 - שעות פעילות 08:00 -17:00</P>
<P> צי'טה שלחיות שליחויות באילת - סניף בית שמש - בארי 1 - שעות פעילות 08:00 -17:00</P>
<P> צי'טה שלחיות שליחויות באילת - סניף בני ברק - עוזיאל 80 - שעות פעילות 07:00 -15:00</P>
<P> צי'טה שלחיות שליחויות באילת - סניף חולון - הספינה הירוקה 94 - שעות פעילות 08:00 -17:00</P>
 
  