#ReturnToHomePage {
    color: grey;
    margin: 2vw;
    direction: rtl;
    display: block;
}
#logo1 {
    height: 15vh;
}
a {
    color: slategrey;
    font-size: 22px;
}
p{
    font-size: 150%;
    color:slategrey;
    z-index: 4;
    position: relative;
    text-align: center;
    width: 65vw;
    margin-left: 18vw;
    margin-top: 3vw;
}