<h1>דרושים שליחויות</h1>
<P>
    לחברת דוארים שלחיות דרושים עובדים:

    לעבוד אצלנו זה להיות חלק ממשפחה גדולה עם אפשרויות קידום התפתחות והרגשת בית

    רוצים ?

    לדאורים שלחיות דרושים שליחים ומגוון משרות.

    אנחנו דואגים לפרסם את המשרות הפנויות שלנו כאן

    תוכלו לפנות למשאבי אנוש שלנו דרך האתר או דרך הטלפון

    נשמח להכיר אתכם

</P>

<h5>
    <h2>:בונוסים</h2>
    בונוסים שווים למי שעומד ביעד
</h5>

<h5>
    <h2>:אופנוע צמוד</h2>
    השליחים שלנו מקבלים אופנוע טריסיטי 3 גלגלים כדי לשמור על נוחות וביטחון בעבודה

</h5>

<h5>
    <h2>שכר גבוה</h2>
    שליחי צי'טה שלחיות מקבלים משכורות מהגבוהות בתחום ובנוסף תנאים סוציאלים
</h5>

<h3>אפשרויות קידום</h3>

<P>משרות פנויות</P>
<h6>דרושים שליחים על אופנוע - אם אתם עדיין
    חולמים על אופנוע כמו ילד? לנו יש את האופנוע הכי מגניב בעיר</h6>
<h6>דרושים שליחי אופניים - אוהבים לרכב על אופניים? בואו לעשות מזה כסף!</h6>
<h6>נציגי שרות מקומכם איתנו</h6>
<h6>שליח/ה לעבודת ערב</h6>
<P>עבודה בצי'טה שלחיות היא להיות חלק ממשפחה גדולה , הרבה מאיתנו משלבים עבודה והגשמת חלום של טיולים ברחבי העולם</P>