#logo {
    height: 27vh;
    z-index: 3;
    direction: rtl;
    position: absolute;
    left: 76vw;
    top: 35vh;
}
#sendMassage {
    margin-left: 10vw;
    margin-top: 4vh;
    position: absolute;
}
#ReturnToHomePage {
    color: grey;
    margin: 2vw;
     margin-left: 1.5vw;
    margin-top: -7vh;
    position: absolute;
}