<p>customer-account-information works!</p>

<h1>ברוך הבא לאזור האישי שלך!</h1>
<h3>המשלוחים שלי:</h3>
<div class="TBL">
    <table>
        <tr> 
            <!-- ? C# איך מקבלים מה  -->
            <th>קוד משלוח: </th> 
            <td>כתובת איסוף: </td>
            <td>יעד: </td>
            <td>שם המקבל: </td>
            <td>שם בחבונית: </td>
            <td>שם חברה: </td>
            <td>תאריך: </td>
            <td>תאור: </td>
            <td>הערות: </td>
            <td>סטטוס: </td>
        </tr>
    </table>
</div>
