<!-- <p>couriers-details works!</p> -->
<h3> פרטי משלוחנים</h3>
<br>
<div *ngFor="let i of couriers" style="display: inline-block;">
    <div class="card" style="width: 18rem; text-align: center;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <p class="card-text" id="madeInShipingFront">קוד אישי: {{i.CourierPersonalCode}}</p>
            <p class="card-text" id="madeInShipingFront">קוד משולחן: {{i.CourierTz}}</p>
            <p class="card-text" id="madeInShipingFront">שם פרטי: {{i.CourierFirstName}}</p>
            <p class="card-text" id="madeInShipingFront">שם משפחה: {{i.CourierLastName}}</p>
            <p class="card-text" id="madeInShipingFront">טלפון: {{i.CourierPhone}}</p>
            <p class="card-text" id="madeInShipingFront">כתובת: {{i.CourierAddress}}</p>
            <p class="card-text" id="madeInShipingFront">עיר: {{i.CourierCity}}</p>
            <p class="card-text" id="madeInShipingFront">סטטוס: {{i.CourierStatus}}</p>
        </div>
    </div>
</div>
<div>
    <!-- <p>טבלת משולחנים</p>
    <table>
        <tr *ngFor="let i of couriers">
            <td>קוד אישי: {{i.personalCode}}</td>
            <td>קוד משולחן: {{i.courierTz}}</td>
            <td>שם פרטי: {{i.firstName}}</td>
            <td>שם משפחה: {{i.lastName}}</td>
            <td>טלפון: {{i.phone}}</td>
            <td>כתובת: {{i.address}}</td>
            <td>עיר: {{i.city}}</td>
            <td>סטטוס: {{i.status}}</td>
            <td><input type="button" value="מחיקה" (click)="Delete()"></td>
        </tr>
    </table> -->
    <!-- <input type="button" value="הוספת משלוחן חדש" (click)="AddNewCourier()"> -->
</div>