<!-- <a routerLink="ReturnToHomePage" routerLinkActive='active' (click)="returnHome()">
  <svg width="4em" height="4em" viewBox="0 0 24 24" class="bi bi-house-door" fill="currentColor"
    xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
      d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z" />
    <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
  </svg>
</a>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-slide-to="0" class="active"></li>
    <li data-slide-to="1"></li> -->
<!-- <li data-slide-to="2"></li> -->
<!-- data-target="#carouselExampleIndicators" -->
<!-- </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/huts_model_3d_effect_of_highdefinition_picture5.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="../../assets/huts_model_3d_effect_of_highdefinition_picture6.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="../../assets/WIN_20191015_15_55_09_Pro.png" class="d-block w-100">
    </div>
  </div>
  <a class="carousel-control-prev" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" role="button" data-slide="next"> -->
<!-- href="#carouselExampleIndicators"  -->
<!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
 -->

<!-- 
<h1>כמה מילים עלינו</h1>

<p>  
    התחלנו את דרכנו בשנת 2020 כחברת משלוחים
     מהיום להיום שחיפשה לשנות את פני הדיוור המהיר בארץ לרמת שירות בינלאומית
      ולהביא רמת שירות וחווית שירות אחרת או כמו שאנחנו
      רגילים לכנות חוויה שקוראים לה זיגזג.

</p>

<h1>צי'טה שלחיות חברת שליחויות</h1>

<p>
    מאז גדלנו התפתחנו, וכיום אנחנו פועלים 
    בפריסה ארצית מדן ועד אילת באמצעות 8 סניפים ומעל 180 שליחי חברה ממותגים 
    ומיומנים המעבירים את המשלוחים שלכם באמצעות אופנועים 
    ורכבים ומחוברים אליכם בטכנולוגיה המתקדמת בעולם.
    השליחות שלנו היא לתת לכם שקט וביטחון מלא בהעברת המשלוחים שלכם 
    ולענות על כל צורך בשילוח שתגדירו מדן ועד אילת       
</p>
 -->
<a routerLink="ReturnToHomePage" routerLinkActive='active' (click)="returnHome()">
  <svg width="4em" id="ReturnToHomePage" height="4em" viewBox="0 0 24 24" class="bi bi-house-door" fill="currentColor"
    xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
      d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z" />
    <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
  </svg>
</a>
<p>
  לקוחות
  החברה מביעים נאמנות מדי יום בזכות מקצועיות ושירות ברמה הגבוהה ביותר תוך
  שימוש בטכנולוגיה המתקדמת בעולם להעברת משלוחים בזמן הקצר ביותר וברמת שירות גבוהה.
  עם התפתחות הסחר האלקטרוני גדלנו במסירת משלוחים למגזר הפרטי למגזר הפרטי
  , פיתחנו אפליקציה המאפשרת ללקוחות לבחור את זמן ומיקום קבלת המשלוח בחלונות זמן
  קצרים במיוחד. לקוחות יכולים לקבל היום את המשלוחים שלהם באמצעות
  שליח מהיר שליח מהיום למחר
  באמצעות איסוף עצמי או באמצעות
  CHITA BOX - תיבות אוטומטיות למסירת משלוחים בפריסה ארצית מזמינים
  אתכם להצטרף אלינו לחווית שילוח כמו שרק אנחנו יודעים
</p>
<img id="logo" src="../../assets/logoDoarim.png" alt="">