<!-- <p>update-new-customer works!</p> -->

<!-- <div>
    <input type="text" name="personalCode" placeholder="קוד אישי" [(ngModel)]="newCustomer.personalCode">
    <input type="text" name="courierTz" placeholder="תעודת זהות"[(ngModel)]="newCustomer.courierTz" >
    <input type="text" name="firstName" placeholder="שם פרטי"[(ngModel)]="newCustomer.firstName" >
    <input type="text" name="lastName" placeholder="שם משפחה"[(ngModel)]="newCustomer.lastName" >
    <input type="text" name="address" placeholder="כתובת"[(ngModel)]="newCustomer.address" >
    <input type="text" name="city" placeholder="עיר" [(ngModel)]="newCustomer.city">
    <input type="text" name="phone" placeholder="פלפון" [(ngModel)]="newCustomer.phone"> 
    <input type="submit" (click)="NewCustomer()" placeholder="שמור"> 
</div> -->
<!-- <form class="text-right">
                <div class="form-group">
                    <label for="personalCode">קוד אישי</label>
                    <input type="text" name="personalCode" class="form-control" [(ngModel)]="newCustomer.customerTz">
                </div>
                <div class="form-group">
                    <label for="firstName">שם פרטי</label>
                    <input type="text" name="firstName" class="form-control"
                        [(ngModel)]="newCustomer.customerFirstName">
                </div>
                <div class="form-group">
                    <label for="lastName">שם משפחה</label>
                    <input type="text" name="lastName" class="form-control" [(ngModel)]="newCustomer.customerLastName">
                </div>
                <div class="form-group">
                    <label>אימייל</label>
                    <input type="email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="address">כתובת</label>
                    <input type="text" name="address" class="form-control" [(ngModel)]="newCustomer.customerAddress">
                </div>
                <div class="form-group">
                    <label for="city">עיר</label>
                    <input type="text" name="city" class="form-control" [(ngModel)]="newCustomer.customerCity">
                </div>
                <div class="form-group">
                    <label for="phone">פלאפון</label>
                    <input type="tel" name="phone" class="form-control" [(ngModel)]="newCustomer.customerPhone">
                </div>
                <div class="form-group">
                    <input type="reset" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" (click)="NewCustomer()" class="form-control">
                </div>
            </form> -->

<!-- <input type="text" class="input-group-text" name="personalCode" placeholder="{{i.personalCode}}" >
     <input type="text" class="input-group-text" name="courierTz" placeholder="תעודת זהות > -->
<div>
    <br>
    <input type="text" name="personalCode" placeholder="קוד אישי" [(ngModel)]="newCustomer.customerPersonalCode">
    <input type="text" name="Tz" placeholder="תעודת זהות" [(ngModel)]="newCustomer.customerTz">
    <input type="text" name="FirstName" placeholder="שם פרטי" [(ngModel)]="newCustomer.customerFirstName">
    <input type="text" name="LastName" placeholder="שם משפחה" [(ngModel)]="newCustomer.customerLastName">
    <input type="text" name="address" placeholder="כתובת" [(ngModel)]="newCustomer.customerAddress">
    <input type="text" name="city" placeholder="עיר" [(ngModel)]="newCustomer.customerCity">
    <input type="text" name="phone" placeholder="פלפון" [(ngModel)]="newCustomer.customerPhone">
    <input type="reset">
    <input type="submit" (click)="NewCustomer()">
    <img id="logo" src="../../assets/logoDoarim.png" alt="">
</div>