#ReturnToHomePage {
    color: grey;
    margin: 2vw;
 
}
input {
    border-radius: 18%;
    border-color:#6f1342;
    display: block;
    margin-top: 1%;
    padding: 2%;
    font-size: 120%;
    margin-right: 60%;
    height: 2vh;
    text-align: center;
    margin-left: 34vw;
background-color: initial;
}
#logo {
    z-index: -1;
    position: absolute;
    opacity: 0.4;
    margin-top: -90vh;
    width: 44%;
    margin-left: 25vw;
}